*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat-black";
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: "Montserrat-black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat-black", sans-serif;
  font-size: 1.5rem;
}

/* navbar */
.navbar {
  padding-bottom: 3rem;
}
.navbar-nav {
  padding: 0 10px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-black", sans-serif;
}


/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* icon */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  /* font-size: 3rem; to change size we can use yhis typr or by mentioning fas-4x or fas-3x */
}
.icon:hover {
  color: #ff4c68;
}
/* feature section */
#features {
  padding: 7rem;
}

/* testimonials */
#testimonials {
  padding: 7% 8%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 5% 15%;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* pricing section */
#pricing {
  padding: 100px;
}
.pricingcards {
  padding: 3% 2%;
}

/* section call to action */

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.cta {
  color: #fff;
  font-family: "Montserrat-bold";
  font-size: 3.5rem;
  line-height: 1.5;
}
.ctabtn {
  margin: 5% 4%;
}

/* footer */
#footer {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 7% 15%;
}
.footicon {
  margin: 20px 10px;
}